@{
    ViewData["Title"] = "Home Page";
}


@using Microsoft.AspNetCore.Identity
@using CarparkWebAPI.DbContext
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@if (User.Identity.IsAuthenticated)
{
    var user = await userManager.GetUserAsync(User);
    var name = user.FirstName + " " + user.LastName;
    <div class="text-center">
        <h1 class="display-4">Welcome @name</h1>
        <br />
        <label class="form-label" for="jwtoken">Your JWT Token:</label>
        <textarea class="form-control" name="jwtoken" disabled rows="2" style="resize: none">@ViewBag.Message</textarea>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Register and log in to view carpark availability data</p>
    </div>
}

